/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: sandybrown;
  color: dimgray; 
}

h1 {
  font-family: verdana, arial, sans-serif; 
  font-style: bold;
  color: #373fff;
}

button {
  padding: 30px;
  border-radius: 50px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:30px;
}

.hidden {
  display: none;
}

#button1 {
  background-image: url('https://cdn.glitch.com/5584a93b-9743-44cd-9d8b-09894b846bed%2Fgrape.png?v=1617677477700');
  background-size: 100% 100%;
}

#button1:active, #button1.lit {
    background:green;
}

#button2 {
  background-image: url('https://cdn.glitch.com/5584a93b-9743-44cd-9d8b-09894b846bed%2Fblueberry.jfif?v=1617677392431');
  background-size: 100% 100%;
}

#button2:active, #button2.lit {
    background:blue;
}

#button3 {
 
  background-image: url('https://cdn.glitch.com/5584a93b-9743-44cd-9d8b-09894b846bed%2Fapple.png?v=1617676857801');
  background-size: 100% 100%;
  
}
  

#button3:active, #button3.lit {
    background: red;
}

#button4 {
  background-image: url('https://cdn.glitch.com/5584a93b-9743-44cd-9d8b-09894b846bed%2Fbanana.png?v=1617677546193');
  background-size: 100% 100%;
}

#button4:active, #button4.lit {
    background: yellow;
}

#button5 {
  background-image: url('https://cdn.glitch.com/5584a93b-9743-44cd-9d8b-09894b846bed%2Fpurplegrapes.png?v=1617677772976');
  background-size: 100% 100%;
}

#button5:active, #button5.lit {
    background: purple;
}

#button6 {
  background-image: url('https://cdn.glitch.com/5584a93b-9743-44cd-9d8b-09894b846bed%2Forange.jfif?v=1617677839831');
  background-size: 100% 100%;
}

#button6:active, #button6.lit {
    background: orange;
}